.about {
    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            width: 340px;
            height: 314px;
            background-color: #7cdaff;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 47% 53% 50% 50% / 18% 16% 84% 82%;
            box-shadow: 0px 0px 20px $blue-light;
        }
    }

    &__detail--heading {
        @include heading;
        & span {
            color: $blue-light;
        }
    }
    &__detail--heading:nth-child(2) {
        color: $blue-light;
        font-size: 3rem;
        text-shadow: 0px 0px 10px $blue-light;
        margin-bottom: 0;
        display: inline-block;
    }
    
    &__detail--text {
        font-size: 1.6rem;
    }
}

