.form {
    width: 100%;

    &__box {
        margin: 1rem 0;
        display: flex;
        justify-content: center;

        &--input {
            font-size: 2rem;
            outline: none;
            padding: 10px 10px;
            color: $light;
            border: none;
            border-radius: 5px;
            background: $gray;
            width: 100%;
            margin-inline: 0 1rem;

            &::placeholder {
                color: $light;
                font-size: 1.6rem;
            }
        }
        &--input:nth-child(2) {
            margin: 0;
        }
    }
    textarea {
        font-size: 2rem;
        outline: none;
        padding: 10px 10px;
        color: $light;
        border: none;
        border-radius: 5px;
        background: $gray;
        width: 100%;
        margin-inline: 0 1rem;
        resize: none;

        &::placeholder {
            color: $light;
            font-size: 1.6rem;
        }
    }
    & input[type=submit] {
        display: block;
        width: clamp(150px, 30%, 200px);
        margin: 2rem auto 0;
    }
}

@media (max-width: 400px) {
    .form__box {
        margin: 0;
        flex-direction: column;
        &--input {
            margin: 1rem 0;
        }
    }
    .form textarea {
        margin-top: 1rem;
    }
}