.service {
    &__card {
        padding: 2rem;
        text-align: center;
        border: 2px solid transparent;
        border-radius: 10px;
        margin: 0 1rem;
        transition: .3s ease;
        background-color: $blue-light;
        color: $black-light;

        &--icon {
            font-size: 3rem;
            margin-bottom: 2rem;
            display: inline-block;
        }

        &--heading {
            font-size: 3rem;
            font-weight: 600;
        }

        &--text {
            font-size: 1.8rem;
        }

        &:hover {
            transform: translateY(-15px);
            background-color: $black-light;
            border: 2px solid $blue-light;
            color: $blue-light;
            & .btn--card {
                color: $blue-light;
                border-color: $blue-light;
            }
        }
    }
}